# Byte-compiled / optimized / DLL files
**/__pycache__/

# Virtual environment
**/venv/
**/.env/
**/.env.bak/
**/.venv/

# VS Code settings
**/.vscode/

# SQL init files
**/init.sql

# Kubernetes secrets
**/secret.yaml

